<ol class="breadcrumb" style="margin-top: -30px">
  <li><a href="/">Home</a></li>
  <li><a href="/user/<%=current_wishlist.user.username%>"><%=current_wishlist.user.username%></a></li>
  <li class="active"><%=current_wishlist.title%></li>
</ol>

<div class="container">
  <div class="row">
    <div class="col-sm-4 col-md-4 panel panel-default" style="padding: 10px; margin:0 8px; margin-bottom: 8px;">
      <div style="text-align: left; display: inline-block;">
        <p><strong>Title:</strong> <%= current_wishlist.title %></p>
        <p><strong>Description:</strong> <%= current_wishlist.description %></p>
        <% if current_user == current_wishlist.user %>
      </div>
        <div class="text-center">
          <a class="btn btn-primary btn-xs" href="/wishlists/<%=current_wishlist.id%>/edit" role="button">Edit title/description</a>
          <a class="btn btn-primary btn-xs" href="/wishlists/<%=current_wishlist.id%>/add_item" role="button">Add item</a>
        </div>
      <% end %>
    </div>

    <div class="text-left col-sm-7 col-md-7" style="margin: 0 5px; margin-bottom: 10px">
      <div class="row">
        <% current_wishlist.wish_items.each do |wishitem| %>
          <div class="col-md-12 panel panel-default" style="padding: 0px">
            <div class="panel-heading">
              <%= wishitem.title %>
              <% if current_user == current_wishlist.user %>
                <div class="edit-glyphicons pull-right">
                  <form method="POST" action="/wishitems/<%=wishitem.id%>/delete" onsubmit="return confirm('Are you sure you want to delete?')">
                    <a href="/wishitems/<%=wishitem.id%>/edit" class="btn btn-primary btn-xs" role="button"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                    <input id="hidden" type="hidden" name="_method" value="delete">
                    <input class="btn btn-danger btn-xs" type="submit" name="delete" value="Delete">
                  </form>
                </div>
              <% end %>
            </div><!--panel-heading-->
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-6 col-md-5 col-sm-6 col-xs-6">
                  <img class="img-thumbnail img-fluid" src="<%= wishitem.image %>">
                </div><!--col-md-4-->
                <div class="col-lg-6 col-md-7 col-sm-6 col-xs-6">
                  <ul class="list-unstyled">
                    <li><label>Price:</label> $<%= wishitem.price %></li>
                    <li><label>Product page:</label> <a href="<%= wishitem.url %>"><%=wishitem.url.match(/\..*\./).to_s.split(".")[1]%></a></li>
                    <li><label>Quantity:</label> <%= wishitem.quantity %></li>
                    <li><label>Note:</label> <%= wishitem.note %></li>
                  </ul>
                </div>
              </div><!--row-->
            </div><!--panel-body-->
          </div><!--col-md-12-->
        <% end %>
      </div>
    </div>
  </div><!--row-->
</div><!--container-->