<ol class="breadcrumb" style="margin-top: -30px">
  <li><a href="/">Home</a></li>
  <li><a href="/user/<%=current_user.username%>"><%=current_user.username%></a></li>
  <li><a href="/wishlists/<%=current_wishlist.id%>/wishitems"><%=current_wishlist.title%></a></li>
  <li class="active">Add Item</li>
</ol>

<h3>Add new item</h3><br>

<% if !@errors.nil? %>
  <% if @errors.any? %>
    <div class="row">
      <div class="col-xs-8 col-md-4 col-sm-6 col-lg-4 col-centered alert alert-danger" style="margin-left: auto; margin-right: auto; margin-bottom: 20px;">
        <h4>Please review the following errors:</h3>
        <div style="text-align: left; display: inline-block;">
          <ul>
            <% @errors.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
  <% @errors.clear %>
<% end %>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-8 col-centered" style="margin-bottom: 20px">
  <form method="POST" action="/wishlists/<%=current_wishlist.id%>/wishitems">
    <div class="form-group">
      <input class="form-control" type="text" placeholder="Add a title" name="title">
    </div>
    <div class="form-group">
      <input class="form-control" type="text" placeholder="Add a url" name="url"></input>
    </div>
    <div class="form-group">
      <input class="form-control" type="integer" placeholder="Add a quantity" name="quantity"></input>
    </div>
    <div class="form-group">
      <input class="form-control" type="integer" placeholder="Add a price" name="price"></input>
    </div>
    <div class="form-group">
      <input class="form-control" type="integer" placeholder="Add a image url" name="image"></input>
    </div>
    <div class="form-group">
      <textarea class="form-control" type="integer" placeholder="Notes" name="note" rows="2"></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-block btn-sm">Add</button>
  </form>
</div>