<div class="col-md-4 col-centered" style="padding: 20px">
  <h2>Edit Item</h2>
  <form method="POST" action="/wishitems/<%=@wishitem.id%>">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <div class="form-group text-left">
      <label for="title">Title</label>
      <input class="form-control" type="text" value="<%=@wishitem.title%>" name="title">
    </div>
    <div class="form-group text-left">
      <label for="url">URL</label>
      <input class="form-control" type="text" value="<%=@wishitem.url%>" name="url"></input>
    </div>
    <div class="form-group text-left">
      <label for="quantity">Quantity</label>
      <input class="form-control" type="integer" value="<%=@wishitem.quantity%>" name="quantity"></input>
    </div>
    <div class="form-group text-left">
      <label for="price">Price</label>
      <input class="form-control" type="integer" value="<%=@wishitem.price%>" name="price"></input>
    </div> 
    <div class="form-group text-left">
      <label for="image">Image URL</label><br>
      <img style="margin: 10px" src="<%=@wishitem.image%>" width="100px">
      <input class="form-control" type="integer" value="<%=@wishitem.image%>" name="image"></input>
    </div>
    <div class="form-group text-left">
      <label for="notes">Notes</label>
      <textarea class="form-control" type="integer" name="note" rows="2"><%=@wishitem.note%></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-block btn-sm">Save Changes</button>
  </form>
</div>